<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>CollegeERPSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeesServlet</display-name>
    <servlet-name>FeesServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.FeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeesServlet</servlet-name>
    <url-pattern>/FeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoticeServlet</display-name>
    <servlet-name>NoticeServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeServlet</servlet-name>
    <url-pattern>/NoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailServlet</display-name>
    <servlet-name>MailServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.MailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailServlet</servlet-name>
    <url-pattern>/MailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSubjectsServlet</display-name>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.GetSubjectsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSubjectsServlet</servlet-name>
    <url-pattern>/GetSubjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadAssignmentServlet</display-name>
    <servlet-name>DownloadAssignmentServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.DownloadAssignmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadAssignmentServlet</servlet-name>
    <url-pattern>/DownloadAssignmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendOtpServlet</display-name>
    <servlet-name>SendOtpServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.SendOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendOtpServlet</servlet-name>
    <url-pattern>/SendOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtpServlet</display-name>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.VerifyOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <url-pattern>/VerifyOtpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResendOtpServlet</display-name>
    <servlet-name>ResendOtpServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.ResendOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResendOtpServlet</servlet-name>
    <url-pattern>/ResendOtpServlet</url-pattern>
    
  
  </servlet-mapping>
  <servlet>
    <servlet-name>ExamFormServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.ExamFormServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ExamFormServlet</servlet-name>
    <url-pattern>/ExamFormServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>RazorpayPaymentServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.RazorpayPaymentServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>RazorpayPaymentServlet</servlet-name>
    <url-pattern>/RazorpayPaymentServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>PaymentSuccessServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.PaymentSuccessServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>PaymentSuccessServlet</servlet-name>
    <url-pattern>/PaymentSuccessServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SubmitExamFormServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.SubmitExamFormServlet</servlet-class>
</servlet>


<servlet>
    <servlet-name>ApproveExamServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.ApproveExamServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ApproveExamServlet</servlet-name>
    <url-pattern>/ApproveExamServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DownloadExamFormServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.DownloadExamFormServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DownloadExamFormServlet</servlet-name>
    <url-pattern>/DownloadExamFormServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>DownloadReceiptServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.DownloadReceiptServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DownloadReceiptServlet</servlet-name>
    <url-pattern>/DownloadReceiptServlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>SubmitExamFormServlet</servlet-name>
    <url-pattern>/SubmitExamFormServlet</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ViewExamFormServlet</servlet-name>
    <servlet-class>com.collegeerp.controller.ViewExamFormServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>ViewExamFormServlet</servlet-name>
    <url-pattern>/ViewExamFormServlet</url-pattern>
</servlet-mapping>
</web-app>